<section class="mainContent clearfix featured_collection_slider_area">
    <div class="container">
        <div class="page-header">
            <h4>Featured Collection</h4>
        </div>
    </div>

    <div class="container container-inner">
        <div class="featuredCollection  featured_collection_slider slider">
            {% for collections_hash in site.data.collections %}
            {% assign collection = collections_hash[1] %}
            {% if collection.featured == true %}
            <div class="thumbnail" onclick="location.href='single-product.html';">
                <div class="imageWrapper">
                    <img src="assets/img/home/featured-collection/featured-collection-02.jpg"
                        alt="feature-collection-image">
                    <div class="caption">
                        <h3>{{ collection.name }}</h3>
                        <small><span class="d-none d-md-inline-block">Start</span> From ${{ collection.starts_from }}</small>
                    </div>
                    <div class="masking">
                        <a href="{{ collection.name | slugify }}.html" class="btn viewBtn">View Products</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>