<div class="page-header content">
    <h4>Latest Articles</h4>
</div>
<div class="row latestArticles">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="blog-single-right-sidebar.html">
                <img src="assets/img/home/articles/articles-01.jpg" alt="article-image">
            </a>
            <div class="date-holder">
                <p>08</p>
                <span>NOV</span>
            </div>
            <h5><a href="blog-single-right-sidebar.html">Leo Vitae Nibh Malesuada.</a></h5>
            <span class="meta"> by <a class="pe-1" href="javascript:void(0)">Abdus</a> / <a class="ps-1"
                    href="blog-single-right-sidebar.html">5 Comments</a></span>
            <div class="caption">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis nulla sed turpis pharetra
                    pretium nec eu sem.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="blog-single-right-sidebar.html">
                <img src="assets/img/home/articles/articles-02.jpg" alt="article-image">
            </a>
            <div class="date-holder">
                <p>29</p>
                <span>OCT</span>
            </div>
            <h5><a href="blog-single-right-sidebar.html">Malesuada Pulvinar Quis Fring.</a></h5>
            <span class="meta"> by <a class="pe-1" href="#">Abdus</a> / <a class="ps-1"
                    href="blog-single-right-sidebar.html">4 Comments</a></span>
            <div class="caption">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis nulla sed turpis pharetra
                    pretium nec eu sem.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="blog-single-right-sidebar.html">
                <img src="assets/img/home/articles/articles-03.jpg" alt="article-image">
            </a>
            <div class="date-holder">
                <p>15</p>
                <span>Sep</span>
            </div>
            <h5><a href="blog-single-right-sidebar.html">Proin Lectus Sed Tincidunt Auctor.</a></h5>
            <span class="meta"> by <a class="pe-1" href="#">Abdus</a> / <a class="ps-1"
                    href="blog-single-right-sidebar.html">3 Comments</a></span>
            <div class="caption">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis nulla sed turpis pharetra
                    pretium nec eu sem.</p>
            </div>
        </div>
    </div>
</div>